

.info{
    border-radius: 25px;
    background-color: rgba(65, 121, 89, 0.616);
    margin-top: 23px;
    width:fit-content;
    height: auto;
    padding-top: 50px;
    border: 4px solid rgb(34, 34, 34);
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}

body {
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode:soft-light;
    background-image: url("https://i.ytimg.com/vi/11-crOwE6MQ/maxresdefault.jpg?fbclid=IwAR0B5keu2PtN1ZSZtXHVtMt0Ttn8mkQyELLW6gIoDVB2qTQuzPbmmtbZWoc");
}